.custom-navbar {
    background-color: rgba(0, 102, 204, 1); /* Blue & opaque */
    transition: background-color 0.3s ease;
    backdrop-filter: none;
  }
  
  .navbar-scrolled {
    background-color: rgba(0, 102, 204, 0.7); /* Translucent */
    backdrop-filter: blur(4px);
  }
  .nav-link {
    transition: all 0.3s ease;
  }
  
  .nav-link.active {
    font-weight: bold;
    transform: scale(1.05); /* Slightly enlarges on active */
  }
  
